In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.ticker import PercentFormatter
df = pd.read_csv('/content/titanic.csv')

In [ ]:
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [ ]:
FAVORITOS_DE_DIOS = df['Survived'].mean() * 100
print("El porcentaje de sobrevivientes es: {:.2f}%".format(FAVORITOS_DE_DIOS))

El porcentaje de sobrevivientes es: 38.38%

In [ ]:
sobrevivientes_mujer_hombre = df.groupby('Sex')['Survived'].sum()
sobrevivientes_mujer_hombre

Sex
female    233
male      109
Name: Survived, dtype: int64

In [ ]:
menosde10 = df[df['Fare'] < 10]
sobrevivientes10 = (menosde10['Survived'].sum() / len(menosde10)) * 100
print("Porcentaje que sobrevivieron y pagaron menos de 10")
sobrevivientes10

Porcentaje que sobrevivieron y pagaron menos de 10

19.940476190476193

In [ ]:
no_bendecidos_df = df[df['Survived'] == 0]
edad_promedio = no_bendecidos_df['Age'].mean()

print("Edad promerdio que no sobrevivieron:")
edad_promedio

Edad promerdio que no sobrevivieron:

30.62617924528302

In [ ]:
sobrevivieron_df = df[df['Survived'] == 1]
promedio_sobrevivientes = sobrevivieron_df['Age'].mean()
print("La edad promedio de quienes sobrevivieron es")
promedio_sobrevivientes

La edad promedio de quienes sobrevivieron es

28.343689655172415

In [ ]:
sobrevivencia = df.groupby(['Sex', 'Survived'])['Age'].mean()
print("Edad promedio de quienes sobrevivieron y no sobrevivieron agrupados por sexo:")
sobrevivencia

Edad promedio de quienes sobrevivieron y no sobrevivieron agrupados por sexo:

Sex     Survived
female  0           25.046875
        1           28.847716
male    0           31.618056
        1           27.276022
Name: Age, dtype: float64